.contact {
    background: #EAF2FD;
    padding: 64px 0px;
}

.contact__grid {
    display: grid;
    grid-template-columns: 180px 180px 560px;
    gap: 100px;
}

.contact__colum {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact__enlace {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.contact__nosotros {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}




.contact__input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A2A2A2;
    padding: 16px 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    font-family: 'Raleway', sans-serif;
}

.contact__textarea {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A2A2A2;
    padding: 16px 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    font-family: 'Raleway', sans-serif;

}

@media screen and (max-width: 1160px) {
    .contact__grid {
        display: grid;
        grid-template-columns: 180px 450px;
        gap: 100px;
    }

    .contact__colum:nth-child(1) {
        height: min-content;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .contact__colum:nth-child(2) {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 65px;
    }

    .contact__colum:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}



@media screen and (max-width: 768px) {
    .contact__grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }

    .contact__colum:nth-child(1) {

        height: min-content;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .contact__colum:nth-child(2) {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .contact__colum:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .contact {
        background: #EAF2FD;
        padding: 64px 0px;
    }
}



/* footer */
.footer {
    text-align: center;
    padding: 32px 0px;
}

.footer__copy {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #464646;
}